body{
  --shadow--: 0px 0px 4px rgb(188, 184, 184);
  --radius--: 0.5rem;
  height: 100dbh;
}
.main_wrapper {
  background-color: rgb(255, 248, 248);
  overflow-y: scroll;
  height: 100dvh;
}
.first_button {
  background-color: white;
  border: none;
  width: 95%;
  padding: 9px;
  position: relative;
  left: 50%;
  color: red;
  border-radius: 5px;
  transform: translateX(-50%);
}
.main_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



/*Debtors*/
.nav{
  width: 100%;
  padding: 10px;

  
}
.nav ul{
  width: 100%;
  display: flex;
  list-style-type: none;
  font-size: 12pxs;
  justify-content: space-around;
}
.nav ul li{
  font-size: 14px;
  cursor: pointer;
  
}
.a-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.active{
  border-bottom: 2px solid red;
}
.make-payment{
  background-color: red;
  color: white;
  border: none;
  width: 100%;
  padding: 7px;
  border-radius: var(--radius--);
}

.nav-switch-off{
  display: none;
}
.nav-switch-on{
  display: block;
}
